.benefits-dialog-titile {
    text-align: center;
}

.benefits-dialog {
    min-width: 400px;
    max-width: 400px;
    text-align: center;
}

.patients-list {
    max-width: 100px;
    overflow-y: auto;
    text-align:center;
    margin-top: 10px;
    width: 300px;
    height: 100px;
    padding: 0 30px 0 60px;
    text-align: center;
}
