<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs ">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill style="padding-bottom: 5%;">
        <div fxLayout="row" fxLayoutAlign="center none">
            <h3 fxLayout class="mat-headline">
                Žalbe korisnika:
            </h3> 
        </div>

        <mat-divider></mat-divider>

        <div *ngFor="let element of complaints; index as i;" fxLayout="column" fxLayoutAlign="center" class="mat-elevation-z2 patient-profile" >
            <div fxLayout="row" fxLayoutAlign="none" style="height: 5%;">
                <div fxLayout="column" fxFlex="15" class="mat-h2"> Tema žalbe: </div>
                <div fxLayout="column" fxFlex *ngIf="element.complaintType == 'PHARMACY_COMPLAINT'" class="mat-h2"> 
                    {{parseComplaintType(element.complaintType)}} {{element.pharmacy.name}}
                </div>
                <div fxLayout="column" fxFlex *ngIf="element.complaintType == 'PHARMACIST_COMPLAINT'" class="mat-h2">
                    {{parseComplaintType(element.complaintType)}} {{element.pharmacist.firstName}} {{element.pharmacist.lastName}}
                </div>
                <div fxLayout="column" fxFlex *ngIf="element.complaintType == 'DERMATOLOGIST_COMPLAINT'" class="mat-h2">
                    {{parseComplaintType(element.complaintType)}} {{element.dermatologist.firstName}} {{element.dermatologist.lastName}}
                </div>
            </div>
            <div fxLayout="row" style="height: 5%;">
                <div fxLayout="column" fxFlex="15" class="mat-h2">Žalbu šalje:</div>
                <div fxLayout="column"  class="mat-h2">{{element.patient.firstName}} {{element.patient.lastName}}</div>
            </div>
            <div fxLayout="row" fxFlex="50">
                <div fxLayout="column" fxFlex="15" class="mat-h2">Tekst žalbe:</div>
                <div fxLayout="column" fxFlex="80" class="mat-h3" style="border: 1px solid; border-color: rgb(146, 146, 146); padding: 1%;overflow-y: auto;overflow-wrap: break-word; background-color: rgb(228, 228, 228);">
                    {{element.text}}
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" style="height: 5%;">
                <button mat-raised-button color="primary" (click)="answerComplaintClick(element)" style="width: 200px;" [disabled]="checkIfAlreadyAnswered(element)">Odgovori</button>
            </div>
        </div>
    </div>
    
</div>
