<mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="isLinear"  
  style="margin-top: 20px;margin-left: 20px;margin-right: 20px; min-height: 620px;">
  <mat-step [stepControl]="firstFormGroup"  *ngIf="firstFormGroup">
    <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Datum i vreme savetovanja</ng-template>
        
        <div class="parent">
            <h4>Datum savetovanja:</h4>
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Izaberite datum</mat-label>
                <input matInput [matDatepicker]="picker"  [min]="maxDate" readonly required (dateInput)="onDateChange($event.value)" formControlName="datePicker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary"></mat-datepicker>
            </mat-form-field>

            <h4>Vreme početka savetovanja:</h4>
            <mat-form-field color="accent" appearance="fill">
                <mat-label >Izaberite vreme</mat-label>
                <input matInput [ngxTimepicker]="timepicker1" [value]="time1" [format]="24" required readonly (ngModelChange)="onStartTimeChange($event)" #input  formControlName="timePicker1">
                <ngx-material-timepicker-toggle matSuffix [for]="timepicker1" ></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timepicker1  [theme]="myTimePickerTheme"></ngx-material-timepicker>
            </mat-form-field>

            
            <h4>Vreme završetka savetovanja:</h4>
            <mat-form-field color="accent" appearance="fill" >
                <mat-label >Izaberite vreme</mat-label>
                <input matInput [ngxTimepicker]="timepicker2" [value]="time2" [format]="24" [min]="minTimeFinishing" required readonly (ngModelChange)="onEndTimeChange($event)" #input formControlName="timePicker2" [disabled]="disabledTimeFinishing">
                <ngx-material-timepicker-toggle matSuffix [for]="timepicker2"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timepicker2  [theme]="myTimePickerTheme"></ngx-material-timepicker>
            </mat-form-field>

        </div>
    
        <button mat-raised-button matStepperNext color="primary" class="button-position-first-form" (click)="firstNextButtonClicked()">Dalje</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" *ngIf="secondFormGroup">
    <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Izbor apoteke</ng-template>
        <div class="parent">
                <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs">
        
                    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">
                
                        <div fxFlex="125" fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z2 pharmacy-list-container" style="height: 460px">
                            
                            <div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">		
                                <h3 class="mat-headline" fxFlex="80" style="margin-top:10px; margin-left: 12px; font-size: 24px;">Apoteke sa slobodnim farmaceutima</h3> 
                            </div>
                                
                            <mat-divider></mat-divider>
                
                        <div fxFlex="90" fxLayout="column" fxLayoutAlign="space-between stretch" class="pharmacy-list-container" style="padding-top: 0;" >
                        <table mat-table [dataSource]="dataSourcePharmacies" matSort class="mat-elevation-z8" >
                            <div class="pharmacy-list">
                            <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Naziv apoteke </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> Mesto apoteke</th>
                            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="grade">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocena apoteke </th>
                                <td mat-cell *matCellDef="let element"> {{element.averageGrade}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header > Cena savetovanja </th>
                                <td mat-cell *matCellDef="let element"> {{element.price}}  </td>
                            </ng-container>
                
                            <ng-container matColumnDef="choice">
                                <th mat-header-cell *matHeaderCellDef> Izbor apoteke za savetovanje</th>
                                <td mat-cell *matCellDef="let element"><button mat-raised-button matStepperNext color="primary" (click)="secondNextButtonClicked(element)">Izaberi</button> </td>
                            </ng-container>
                            
                
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                            <tr mat-row  *matRowDef="let row; columns: displayedColumns;"  [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)" ></tr>
                
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5">Ne postoji nijedna apoteka sa slobodnim farmaceutima</td>
                            </tr>
                            </div>             
                        </table>
                        <mat-divider></mat-divider>			
                        </div>
                
                        </div>  
                                           
                    </div>
                
                </div>
        </div>

        <button mat-raised-button color="warn" matStepperPrevious class="button-position-second-form-back">Nazad</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" *ngIf="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Izbor farmaceuta</ng-template>
        <div class="parent">
            <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs">
    
                <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">
            
                    <div fxFlex="125" fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z2 pharmacy-list-container" style="height: 460px">
                        
                        <div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">		
                            <h3 class="mat-headline" fxFlex="80" style="margin-top:10px; margin-left: 12px; font-size: 24px;">Slobodni farmaceuti iz izabrane apoteke</h3> 
                        </div>
                            
                        <mat-divider></mat-divider>
            
                    <div fxFlex="90" fxLayout="column" fxLayoutAlign="space-between stretch" class="pharmacy-list-container" style="padding-top: 0;" >
                    <table mat-table [dataSource]="dataSourcePharmacists" matSort class="mat-elevation-z8" >
                        <div class="pharmacy-list">
                        <ng-container matColumnDef="pharmacistName">
                        <th mat-header-cell *matHeaderCellDef> Ime farmaceuta </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="pharmacistSurname">
                        <th mat-header-cell *matHeaderCellDef> Prezime farmaceuta </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="pharmacistGrade">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocena farmaceuta </th>
                            <td mat-cell *matCellDef="let element"> {{element.averageGrade}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="scheduling">
                            <th mat-header-cell *matHeaderCellDef> Zakazivanje savetovanja</th>
                            <td mat-cell *matCellDef="let element"><button mat-raised-button matStepperNext color="primary" (click)="scheduleClicked(element)">Zakaži</button> </td>
                        </ng-container>
                        
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacist; sticky:true"></tr>
                        <tr mat-row  *matRowDef="let row; columns: displayedColumnsPharmacist;"  [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)" ></tr>
            
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Ne postoji nijedan slobodan farmaceut</td>
                        </tr>
                        </div>             
                    </table>
                    <mat-divider></mat-divider>			
                    </div>
            
                    </div>  
                                       
                </div>
            
            </div>
    </div>

    <button mat-raised-button color="warn" matStepperPrevious class="button-position-third-form-back">Nazad</button>
    </form>
  </mat-step>

</mat-horizontal-stepper>