<h1 mat-dialog-title class="benefits-dialog-titile">{{ medicineData.medicine.name }}</h1>

<!-- <div mat-dialog-conten *ngFor="let benefit of benefitList" [value]="benefit" class="benefits-dialog">{{benefit}}</div> -->

<mat-form-field style="margin-left: 84px;">
    <mat-label>Trajanje terapije u danima</mat-label>
    <input matInput type="number" placeholder="" min="1" max="20" [(ngModel)]="inputData.therapyDay">
    <span matSuffix></span>
  </mat-form-field>

<div mat-dialog-actions style="margin-left: 90px;">
  <button mat-stroked-button [mat-dialog-close]="inputData.therapyDay" style="margin-left: 46px;">Potvrdi</button>
  <!-- <button mat-stroked-button (click)="closeDialogClick()">Odustani</button> -->
</div>