<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs" style="padding-left: 280px;padding-top: 150px;">

	<div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

		<div fxFlex="68" fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z2 contact-list-container">
			
			<div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">		
                <h3 class="mat-headline" fxFlex="80" style="margin-top: 16px; margin-left: 140px;">Podnesite zahtev za godišnji odmor</h3> 
            </div>
            <mat-divider style="margin-top: 10px;"></mat-divider>	

            <div fxFlex="90" fxLayout="column" fxLayoutAlign="space-between stretch" class="contact-list-container">
                   
                <div fxFlex="200" fxLayout="row" fxLayoutAlign="space-between stretch" class="contact-list-container">
                    <h2 class="mat-h2" style="margin-top: 23px;">Vremenski period godišnjeg odmora:</h2>
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Izaberite vremenski period</mat-label>
                        <mat-date-range-input required [min]="minDate"
                          [formGroup]="campaignOne"
                          [rangePicker]="campaignOnePicker"
                          [comparisonStart]="campaignOne.value.start"
                          [comparisonEnd]="campaignOne.value.end">
                          <input matStartDate placeholder="Start date" formControlName="start" [(ngModel)]="startTime" >
                          <input matEndDate placeholder="End date" formControlName="end" [(ngModel)]="endTime">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                    </mat-form-field>	
                </div>

                <div fxFlex="48" fxLayout="row" class="contact-list-container">
                    <h2 class="mat-h2" style="margin-top: 15px">Godišnji odmor u apoteci:</h2>
                    <mat-form-field appearance="fill" style="margin-left: 114px;width: 266px;">
                        <mat-label>Izaberite apoteku</mat-label>
                        <mat-select required [(ngModel)]="selectedPharmacy" (ngModelChange)="onChangePharmacy($event)">
                          <mat-option *ngFor="let pharmacy of pharmacies" [value]="pharmacy">
                            {{pharmacy.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                    
                <button mat-flat-button color="primary" (click)="sendVacationRequest()" style="max-width: 150px;margin-left: 240px;">Potvrdi</button>
            </div>
		</div>		      
</div>