<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs">

	<div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

		<div fxFlex="105" fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z2 pharmacy-list-container">
			
			<div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">		
        <h3 class="mat-headline" fxFlex="80" style="margin-top:10px; margin-left: 12px; font-size: 24px;">Moji e-Recepti</h3> 

      </div>
                
			<mat-divider></mat-divider>

      <div fxFlex="90" fxLayout="column" fxLayoutAlign="space-between stretch" class="pharmacy-list-container" >
        <table mat-table [dataSource]="dataSource" matSort #t1Sort="matSort" class="mat-elevation-z8" >
          <div class="pharmacy-list">
            <ng-container matColumnDef="ePrescriptionState">
              <th mat-header-cell *matHeaderCellDef> Status e-Recepta </th>
              <td mat-cell *matCellDef="let element"> {{checkEPrescriptionState(element.ePrescriptionState)}} </td>
            </ng-container>

            <ng-container matColumnDef="pharmacy">
            <th mat-header-cell *matHeaderCellDef> Apoteka </th>
            <td mat-cell *matCellDef="let element"> {{element.pharmacy.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="issuingDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum izdavanja </th>
            <td mat-cell *matCellDef="let element"> {{convertDate(element.issuingDate)}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Cena </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} RSD </td>
            </ng-container>

            <ng-container matColumnDef="items">
                <th mat-header-cell *matHeaderCellDef> Prikaži lekove </th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="showMedicines(element)">Prikaži</button> </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Ne postoje e-Recepti</td>
            </tr>
          </div>             
        </table>
        <mat-divider></mat-divider>			
      </div>
        </div>
      <div fxFlex="35" fxLayout="column" fxLayoutAlign="none none" class="mat-elevation-z2 pharmacy-list-container-second">
         <div fxFlex="10" fxLayout="row" >	
          <h3 class="mat-title" fxFlex="22"> </h3> 		
          <h3 class="mat-title" fxFlex >Spisak lekova u e-Receptu</h3> 
        </div>
        <mat-divider></mat-divider>	  
       
        <div fxFlex="40" fxLayout="column" fxLayoutAlign="none none">
            <div fxLayout="row" fxFlex style="border: 1px solid; overflow: auto;" fxLayoutAlign="center start">
                <div fxFlex fxLayout="column" fxFlex="80" >
                    <table>
                        <tr>
                            <th class="mat-h4">Šifra</th>
                            <th class="mat-h4">Naziv</th>
                            <th class="mat-h4">Količina</th>
                        </tr>
                        <tr *ngFor="let element of medicines">
                            <td class="mat-h4" style="text-align: center;">{{element.medicineCode}}</td>
                            <td class="mat-h4" style="text-align: center;">{{element.medicineName}}</td>
                            <td class="mat-h4" style="text-align: center;">{{element.quantity}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div fxFlex="235" fxLayout="column" fxLayoutAlign="none none" class="mat-elevation-z2 pharmacy-list-container-third" style="margin-top: 50px;">

          <div fxFlex="17" fxLayout="row" >	
            <h3 class="mat-title" fxFlex="18"> </h3> 		
            <h3 class="mat-title" fxFlex >Filtracija e-Recepata po statusu</h3> 
          </div>
          <mat-divider></mat-divider>	  
          
          <div fxLayout="column" fxLayoutGap="30" class="pharmacy-list-container-third" >
    
            <mat-form-field class="example-full-width" style="max-width: 200px; padding-top: 50px;padding-left: 100px;">
              <mat-label>Izberite status e-Recepta</mat-label>
              <mat-select [ngModel]="selectedStatus" (ngModelChange)="onChangeEPrescriptionFilter($event)">
                <mat-option>Poništi filtraciju</mat-option>
                <mat-option [value]="status" *ngFor="let status of ePrescriptionStatus">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
                           
        </div>
      </div>
    </div>
</div>