<div class="all-medicines-div">
    <h1 class="mat-h1" style="margin-left: 45%;  margin-top: 8%;">Lekovi</h1>
    <div class="all-medicines-table mat-elevation-z8" style="margin-left: 3%; margin-right: 3%;">
        <table mat-table [dataSource]="medicineList">
      
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Kod </th>
            <td mat-cell *matCellDef="let medicine"> {{medicine.code}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Naziv leka </th>
            <td mat-cell *matCellDef="let medicine"> {{medicine.name}} </td>
          </ng-container>

          <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef> Dodaj </th>
            <td mat-cell *matCellDef="let medicine">
                <button mat-raised-button color="primary" (click)="add(medicine)">Dodaj</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
</div>

