.pricelist-div{
    background-color: white;
    height: 650px;
    width: 600px;
    float: left;
    margin-top: 1%;
    margin-left: 3%;
}

.all-medicines-div{
    background-color: white;
    height: 600px;
    width: 500px;
    float: right;
    margin-top: 1%;
    margin-right: 5%;
}

.pricelist-table{
    height: 450px;
    overflow: auto;
}

table{
    width: 100%;
}