<mat-toolbar  class="mat-elevation-z4" style="background-color: #5c6bc0;">  
    <img src="./assets/images/logo.png" width="36px">
    <span class="name" fxHide fxShow.gt-xs style="margin-left: 12px;"><b>Health Pharmacy</b></span>
    <span class="spacer"></span>
    <app-non-authenticated-medicines-search></app-non-authenticated-medicines-search>
    <app-non-authenticated-pharamcy-search></app-non-authenticated-pharamcy-search>
    <app-non-authenticated-user-menu></app-non-authenticated-user-menu>
    <app-non-authenticated-home-page></app-non-authenticated-home-page>
    
</mat-toolbar>
