.mat-form-field {
    margin-top: 16px;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-full-width {
    // min-width: 350px;
    // max-width: 550px;
    // width: 100%;
    // min-height: 50px;
    // max-height: 100px;
    // height: 100%;
    margin: 10px 0px 0px 370px;
    min-width: 400px;
}

.medicinesTable {
  width: 100%;
}

.table-container {
  margin: 0px 0px 0px 330px;
  max-width: 42%;
  max-height: 400px;
  overflow-y: scroll;
}

.examination-terms {
    max-width: 300px;
    overflow-y: auto;
    text-align:center;
    margin-top: 10px;
    width: 300px;
    height: 310px;
    padding: 0 30px 0 60px;
}