<div class="create-order-list">
    <mat-card class="create-order-list-card">
        <mat-card-header>
            <mat-card-title>Nova narudžbenica</mat-card-title>
        </mat-card-header>
        <div class="create-order-list-table mat-elevation-z8">
            <table class="co-table">
                <tr>
                    <th>Kod</th>
                    <th>Naziv</th>
                    <th>Količina</th>
                    <th>Ukloni</th>
                </tr>
                <tr *ngFor="let med of medicineOrderList; index as i" [value]="med" style="height: 10px;">
                    <td> {{ med.code }} </td>
                    <td> {{ med.name }} </td>
                    <td> {{ med.quantity }} </td>
                    <td>
                        <button mat-raised-button color="warn" style="margin-left: 10%;" (click)="removeMedicine(med, i)">
                            Ukloni
                        </button>
                    </td>
                </tr>  
            </table>         
        </div>

        <mat-form-field appearance="fill" class="end-date-class">
            <mat-label>Rok za izdavanje ponude</mat-label>
            <input matInput [matDatepicker]="picker" [min]="maxDate" [(ngModel)]="offerDeadline">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>  
        
        <button mat-raised-button color="primary" style="float: right; margin-top: 17%; height: 40px; width: 100px;" (click)="sendOrderList()">
            Pošalji
        </button>

    </mat-card>
</div>

<div class="all-medicines">
    <mat-card class="all-medicines-card">
        <mat-card-header>
            <mat-card-title>Lekovi</mat-card-title>
        </mat-card-header>
        <div class="all-medicines-table mat-elevation-z8">
            <table>
                
                <tr>
                    <th>Kod</th>
                    <th>Naziv</th>
                    <th>Količina</th>
                    <th>Dodaj</th>
                </tr>
                <tr *ngFor="let med of medicineItemList" [value]="med" style="height: 10px;">
                    <td> {{ med.code }} </td>
                    <td> {{ med.name }} </td>
                    <td> 
                        <mat-form-field style="width: 70px;">
                            <input matInput type="number" style="width: 70px;" [(ngModel)]="med.quantity">
                        </mat-form-field>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" style="margin-left: 10%;" (click)="addMedicine(med, med.quantity)">
                            Dodaj
                        </button>
                    </td>
                </tr>  
                
            </table>
            </div>
    </mat-card>
</div>
