.create-order-list{
    height: 700px;
    width: 550px;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
}

.create-order-list-table{
    height: 500px;
    overflow:auto;
}

.all-medicines{
    height: 700px;
    width: 550px;
    float: right;
    overflow:auto;
    margin-top: 2%;
    margin-right: 5%;
}

.create-order-list-card{
    height: 610px;
}

.create-order-list-table{
    height: 450px;
}

.all-medicines-card{
    height: 610px;
}

.all-medicines-table{
    height: 570px;
}

table{
    width: 100%;
}

table tr th{
    text-align: center; 
}

table td{
    text-align: center; 
}
table tr{
    height: 50px;
}

.end-date-class{
    margin-top: 10px;
}
