.full {
	width: 100%;
}

.patient-profile {
	padding: 10px;
	background: white;
	margin-top: 30px;
	margin-left: 15%;
	min-width: 900px;
	min-height: 660px;
	.avatar {
		width: 110px;
		height: 110px;
		margin-left: 40px;
		border-radius: 50%;
	}
	h3 {
		margin: auto;
	}
	.center-data {
		margin-left: 200px;
	}
	.center-address {
		margin-left: 70px;
	}
}