<div class="pharmacy-administrator-my-pharmacy">

    <table style="width: 100%;">
        <tr>
        <mat-form-field class="pharmacy-name-input" style="float: left;">
            <mat-label>Naziv Apoteke</mat-label>
            <input matInput readonly [(ngModel)]="name">
        </mat-form-field>

        <div ng-show="subscriptionButtonVisible" style="float: left; margin-left: 2%; margin-top: 15px;">
            <button *ngIf="!isAlreadySubscribed()" mat-raised-button color="primary" (click)="subscribeClick(element)">Pretplati se</button>
            <button *ngIf="isAlreadySubscribed()" mat-raised-button color="basic" [disabled]="true">Pretplaćeni ste</button>
        </div>
        </tr>
        <tr>
        <mat-form-field style="float: left;">
            <mat-label>Država</mat-label>
            <input matInput readonly [(ngModel)]="country">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Grad</mat-label>
            <input matInput readonly [(ngModel)]="city">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Ulica</mat-label>
            <input matInput readonly [(ngModel)]="street">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Longitude</mat-label>
            <input matInput readonly [(ngModel)]="lng">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Latitude</mat-label>
            <input matInput readonly [(ngModel)]="lat">
        </mat-form-field>

        </tr>
    </table>  

    <h2 class="mat-h2">Ocena apoteke: {{ averageGrade }}</h2>
    
    <div class="pharmacy-description-div">
        <mat-card class="pharmacy-description-card">
            <mat-form-field style="width: 500px;">
                <mat-label>Opis apoteke</mat-label>
                <textarea matInput class="pharmacy-description-text" readonly style="height: 250px; width: 480px;" [(ngModel)] = "description"></textarea>
              </mat-form-field>
        </mat-card>
    </div>

    <div class="pharmacy-medicines-div">
        <div class="map">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>
