<div class="toolbar-user-container">
	<button mat-button (click)="isOpen = !isOpen" class="toolbar-user-btn" [class.open]="isOpen" [ngStyle.xs]="{'min-width': '70px'}">
  		<span fxLayout="row" fxLayoutAlign="start center">
    		<img class="avatar" [src]="currentUser?.photoURL || 'assets/images/nouser.png'">
    		<span class="name" fxHide fxShow.gt-xs>{{loggedUserName}}</span>
    		<mat-icon class="icon" fxHide fxShow.gt-xs>keyboard_arrow_down</mat-icon>
  		</span>
  	</button>

  	<div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    	<div class="content">
      		<mat-nav-list>
      			<mat-list-item>
					  <a matLine *ngIf="role == 'PATIENT'" [routerLink]="['/auth/patient/patient-profile']">Moj profil</a>
					  <a matLine *ngIf="role == 'PHARMACIST'" [routerLink]="['/auth/dermatologist/profile']">Moj profil</a>
					  <a matLine *ngIf="role == 'DERMATOLOGIST'" [routerLink]="['/auth/dermatologist/profile']">Moj profil</a>
					  <a matLine *ngIf="role == 'SUPPLIER'" [routerLink]="['/auth/dermatologist/profile']">Moj profil</a>
					  <a matLine *ngIf="role == 'PHARMACY_ADMIN'" [routerLink]="['/auth/dermatologist/profile']">Moj profil</a>
					  <a matLine *ngIf="role == 'SYSTEM_ADMIN'" [routerLink]="['/auth/dermatologist/profile']">Moj profil</a>
				    <button mat-icon-button>
				       <mat-icon>account_circle</mat-icon>
				    </button>
      			</mat-list-item>    			

      			<mat-divider></mat-divider>

      			<mat-list-item>
      				<a matLine (click)="logoutClick()">Odjavi se</a>
				    <button mat-icon-button>
				       <mat-icon>exit_to_app</mat-icon>
				    </button>
      			</mat-list-item>
      		</mat-nav-list>
    	</div>
  	</div>
</div>