.full {
	width: 100%;
}

.patient-profile {
	padding: 5px;
	background: white;
	margin-left: 5px;
    margin-bottom: 5px;
	min-width: 450px;
	min-height: 280px;
	.avatar {
		width: 110px;
		height: 110px;
		margin-left: 40px;
		border-radius: 50%;
	}
	h3 {
		margin: auto;
	}
	.center-data {
		margin-left: 200px;
	}
	.center-address {
		margin-left: 70px;
	}
}