<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs " >

	<div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

		<div fxFlex="35" fxLayout="column" class="mat-elevation-z2 patient-profile" >

			<div fxFlex="15" fxLayout="row" fxLayoutAlign="space-between center" >
					
				<h3  class="mat-headline"  fxFill fxLayoutAlign="space-around center">Izmena lozinke</h3> 

			</div>
			<mat-divider></mat-divider>
				
            <div fxFlex="20" fxLayout="column" fxLayoutAlign="center start" style="margin-top: 85px;margin-left: 133px;">

                    <mat-form-field class="example-form-field">
                    <mat-label>Nova lozinka</mat-label>
                    <input matInput type="password" [(ngModel)]="password" >
                    <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    
                    </mat-form-field>
                    <mat-form-field class="example-form-field">
                    <mat-label>Potvrda lozinke</mat-label>
                    <input matInput type="password" [(ngModel)]="repeatPassword">
                    <button mat-button *ngIf="repeatPassword" matSuffix mat-icon-button aria-label="Clear" (click)="repeatPassword=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>

                    <button mat-raised-button color="primary" (click)="saveClick()" style="margin-top: 5px; margin-left: 50px;">Potvrdi</button>
            </div>
	</div>	
</div>
