<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs">

	<div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

		<div fxFlex="105" fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z2 pharmacy-list-container">
			
            <div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">		
                <h3 class="mat-headline" fxFlex="80" style="margin-top:10px; margin-left: 12px; font-size: 24px;">Zakazana savetovanja kod farmaceuta</h3> 
            </div>
                
			<mat-divider></mat-divider>

        <div fxFlex="90" fxLayout="column" fxLayoutAlign="space-between stretch" class="pharmacy-list-container" style="padding-top: 0;" >
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
                <div class="pharmacy-list">
                <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Datum savetovanja </th>
                <td mat-cell *matCellDef="let element"> {{element.dateOfExamination}} </td>
                </ng-container>
    
                <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Vreme savetovanja</th>
                <td mat-cell *matCellDef="let element"> {{element.timePeriodOfExamination}} </td>
                </ng-container>
    
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef > Cena savetovanja </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} RSD </td>
                </ng-container>
    
                <ng-container matColumnDef="pharmacist">
                    <th mat-header-cell *matHeaderCellDef> Farmaceut </th>
                    <td mat-cell *matCellDef="let element"> {{element.dermatologistFullName}} </td>
                </ng-container>
    
                <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef> Ocena farmaceuta </th>
                <td mat-cell *matCellDef="let element"> {{element.averageGrade}} </td>
                </ng-container>
    
                <ng-container matColumnDef="scheduling">
                    <th mat-header-cell *matHeaderCellDef> Otkazivanje </th>
                    <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="cancelAppointmentClick(element)">Otkaži</button> </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Trenutno nema zakazanih savetovanja kod farmaceuta</td>
                </tr>
                </div>             
            </table>
        <mat-divider></mat-divider>			
        </div>

		</div>  
                   		
    </div>

</div>