.pharmacy-administrator-my-pharmacy{
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
}

.pharmacy-title{
    margin-top: 2%;
}

.pharmacy-name-input{
    margin-top: 1%;
}

.pharmacy-address-input{
    margin-top: 1%;
}

.pharmacy-description-div{
    height: 290px;
    width: 550px;
    float: left;
}

.pharmacy-description-card{
    height: 330px;
    width: 500px;
}

.pharmacy-medicines-div{
    height: 350px;
    width: 550px;
    float: left;
}

.pharmacy-medicines-card{
    height: 250px;
}

.pharmacy-medicines-table{
    width: 100%;
}

.map {
    height: 345px;
    width: 500px;
    width: 100%;
  }
