.pharmacy-administrator-my-pharmacy{
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
}

.pharmacy-title{
    margin-top: 2%;
}

.pharmacy-name-input{
    margin-top: 10%;
}

.pharmacy-address-input{
    margin-top: 5%;
}

.pharmacy-description-div{
    height: 300px;
    width: 550px;
    float: left;
    margin-top: 3%;
}

.pharmacy-description-card{
    height: 250px;
    width: 500px;
}



.pharmacy-medicines-div{
    height: 300px;
    width: 550px;
    float: right;
    margin-top: 3%;
}

.pharmacy-medicines-card{
    height: 250px;
}

.pharmacy-medicines-table{
    width: 100%;
}
