<div class="pharmacy-administrator-my-pharmacy">

    <table style="width: 100%;">
        <tr>
        <mat-form-field class="pharmacy-name-input">
            <mat-label>Naziv Apoteke</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
        </tr>
        <tr>
        <mat-form-field style="float: left;">
            <mat-label>Država</mat-label>
            <input matInput [(ngModel)]="country">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Grad</mat-label>
            <input matInput [(ngModel)]="city">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Ulica</mat-label>
            <input matInput [(ngModel)]="street">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Longitude</mat-label>
            <input matInput [(ngModel)]="lng">
        </mat-form-field>

        <mat-form-field style="float: left; margin-left: 2%;">
            <mat-label>Latitude</mat-label>
            <input matInput [(ngModel)]="lat">
        </mat-form-field>

        </tr>
    </table>  

    <h2 class="mat-h2">Ocena apoteke: {{ averageGrade }}</h2>
    
    <div class="pharmacy-description-div">
        <mat-card class="pharmacy-description-card">
            <mat-form-field style="width: 500px;">
                <mat-label>Opis apoteke</mat-label>
                <textarea matInput class="pharmacy-description-text" style="height: 250px; width: 480px;" [(ngModel)] = "description"></textarea>
              </mat-form-field>
        </mat-card>
    </div>

    <div class="pharmacy-medicines-div">
        <div class="map">
            <div id="map" class="map"></div>
        </div>
    </div>

    <button mat-raised-button color="primary" style="height: 50px; width: 200; float: right; margin-right: 5%; margin-top: 2%;" (click)="updatePharmacy()">Sačuvaj</button>

</div>
