<div class="image">        
    <app-non-authenticated-user-toolbar style="z-index: 500;"></app-non-authenticated-user-toolbar>

    <div style="background-image:none; background-color: #e8eaf6;">
        <router-outlet></router-outlet>
    </div>
    <div>
        <mat-card class="mat-elevation-z12" style="background-color: #e8eaf6;">
            <mat-card-title style="text-align:center; "> <b>Zašto smo baš mi pravi izbor?</b></mat-card-title>
            <mat-card-content>Health Pharmacy je informacioni sistem apoteka sa dugom tradicijom. 
                <br><br> Naš fokus je da omogućimo pacijentima da na brz i jednostavan način, bez čekanja u redu, koriste usluge koje naša apoteka pruža. 
                <br><br> Vaše zdravlje je u našim rukama!</mat-card-content>
        </mat-card>
    </div>
</div>
    