<div class="login-page">
  <app-non-authenticated-user-toolbar style="z-index: 500;"></app-non-authenticated-user-toolbar>
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center; overflow: hidden;">Prijava/Registacija</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Prijavi se">
            <mat-card-content>
              <form action="">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    [(ngModel)]="emailLogin"
                    #email="ngModel"
                    >
                    <mat-error *ngIf="email.invalid">Morate uneti email</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Lozinka"
                    type="password"
                    required
                    minlength="3"
                    name="loginPassword"
                    [(ngModel)]="passwordLogin"
                    #password="ngModel">
                    <mat-error
                      *ngIf="password.errors && password.errors.required">
                      Morate uneti lozinku
                    </mat-error>
                    <mat-error
                      *ngIf="password.errors && password.errors.minlength">
                      Lozinka mora imati najmanje 3 karaktera
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button"
                  (click) = "loginClick()">
                  Prijavi se
                </button>
              </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Registruj se">
          <mat-card-content>
            <form action="">
                
                <mat-form-field style="width: 40%; float: left; margin-left: 33px;">
                    <input
                        matInput
                        placeholder="Ime"
                        required
                        name="firstName"
                        [(ngModel)]="firstNameSignup"
                        #firstName="ngModel">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-error
                        *ngIf="firstName.invalid">
                        Morate uneti ime
                    </mat-error>
        
                    </mat-form-field>
                    <mat-form-field style="width: 40%;float: left; margin-right: 10px; margin-left: 30px;">
                    <input
                        matInput
                        placeholder="Prezime"
                        required
                        name="lastNameSignup"
                        [(ngModel)]="lastNameSignup"
                        #lastName="ngModel">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-error
                        *ngIf="lastName.invalid">
                        Morate uneti prezime
                    </mat-error>
              </mat-form-field>
              
              <mat-form-field style="width: 40%; float: left; margin-left: 33px;">
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="emailSignup"
                  [(ngModel)]="emailSignup"
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">Morate uneti email</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field style="width: 40%; float: left; margin-left: 30px;">
                <input
                  matInput
                  placeholder="Broj telefona"
                  required
                  name="phoneNumber"
                  [(ngModel)]="phoneNumberSignup"
                  #phoneNumber="ngModel">
                  <mat-error *ngIf="phoneNumber.invalid">Morate uneti broj telefona</mat-error>
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>

              <mat-form-field style="width: 40%; float: left; margin-left: 33px;">
                <input
                  matInput
                  placeholder="Lozinka"
                  type="password"
                  required
                  minlength="3"
                  name="passwordSignup"
                  [(ngModel)]="passwordSignup"
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    Morate uneti lozinku
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    Lozinka mora imati bar 3 karaktera
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
  
              </mat-form-field>
              
              <mat-form-field  style="width: 40%; float: left; margin-left: 30px;">
                  <input
                  matInput
                  placeholder="Ponovni unos lozinke"
                  type="password"
                  required
                  minlength="3"
                  name="repasswordSignup"
                  [(ngModel)]="repasswordSignup"
                  #repassword="ngModel">
                  <mat-error
                    *ngIf="repassword.errors && repassword.errors.required">
                    Morate uneti lozinku
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <mat-form-field style="width: 30%; float: left; margin-left: 33px; padding: 0;">
                <input
                  matInput
                  placeholder="Ulica i broj"
                  required
                  name="street"
                  [(ngModel)]="streetSignup"
                  #street="ngModel">
                  <mat-error
                    *ngIf="street.invalid">
                    Morate uneti ulicu i broj
                  </mat-error>
                <mat-icon matSuffix>address</mat-icon>
  
              </mat-form-field>
              
              
              <mat-form-field  style="width: 24%; float: left; margin-left: 20px; padding: 0%;">
                  <input
                  matInput
                  placeholder="Grad"
                  required
                  name="city"
                  [(ngModel)]="citySignup"
                  #city="ngModel">
                  <mat-error
                    *ngIf="city.invalid">
                    Morate uneti grad
                  </mat-error>
                <mat-icon matSuffix>address</mat-icon>
              </mat-form-field>
              <mat-form-field  style="width: 24%; float: left; margin-left: 20px; margin-right: 0; padding: 0%;">
                <input
                matInput
                placeholder="Država"
                required
                name="country"
                [(ngModel)]="countrySignup"
                #country="ngModel">
                <mat-error
                  *ngIf="country.invalid">
                  Morate uneti državu
                </mat-error>
              <mat-icon matSuffix>address</mat-icon>
            </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                (click)="signupClick()"
                >
                Registruj se
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>